*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'glroy';
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 30% 50% 20%;
}

#left-top-left{
    /* background-color:red; */
    padding: 35px;
}

#square{
    background-color: black;
    rotate: 45deg;
    height: 25px;
    width: 25px;
}

#left-top-right{
    /* background-color: yellow; */
    justify-self:right;
    text-align: right;
    padding: 20px;
}

#left-top-right h5{
    color: #626161;
    line-height: 20px; ;
}


#left-top-right h4{
    /* background-color: rgb(165, 228, 255); */
    margin-bottom: 25px;
}

#centre{
    /* background-color: rgb(73, 73, 11); */
    grid-column: 1/3;
    padding-left: 30px;
    
}
#bottom{
    /* background-color: rgb(23, 11, 103); */
    grid-column: 1/3;
}
#right{
    /* background-color: rgb(136, 90, 90); */
    grid-column: 3; 
    grid-row: 1 / 4;
}

#centre h1{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 5vw;
}
#centre h1:nth-child(2n){
    text-align: center;
}
#bottom{
    padding: 20px;
}
#right{
    padding:10px;
    }

#right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#arror{
    position: absolute;
    top:50%;
    left: 50.6%;
    background-color: orange;
    height: 30px;
    width: 30px;
    padding: 5px;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

#arror .ri-arrow-right-line{
    font-size: 19px;
}